$teal: #2cd6a3;
$white: #ffffff;
$neon: #d0ff00;




body{
	margin-top: 0;
	padding:10px;
}
.sidebar{
background: $teal;

color:$white;
	width:20%;
	height:200%;
	margin-top:0;
padding-top:15%;

	float:left;
	clear:both;


h2{
	text-align: center;
}
h3{

	text-align: center;
	&.hover{
	color: $neon;
	}

	a{
	text-decoration:none;
	color:$white;

	&:hover{
	color: $neon;
	}
	}
}
	p{
	width:70%;
	text-align:center;
	margin: 0 auto;
	padding-bottom:10%;
	}
}

.main{

	width: 100%;
	height: 200%;
	padding-left: 25%;
	border: 3px solid $teal;
	border-radius:5px;


	h2{
	padding-top:5%;
	margin: 0 auto;

	}

}

.itemgroup{
	display:inline-block;
}
.adding_item{
	width:100%;

	ul{
	display: inline-block;
	list-style:none;
	}
	li{
	
	list-style:none;
	}
}

.recipes{
width: 100%;
	height: 100%;
	padding-left: 25%;

	ul{
	padding-left:0;
	}

	li{
	list-style:none;

	}
	
}

.form{
width: 100%;
	height: 100%;
	padding-left: 25%;
text-align:center;

.input{
	text-align:center;
}
	

}